/* COLOR */
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 15px 0px;
  background-color: #fafafa;
  font-family: "Poppins";
  font-size: 15px;
  color: #a3a5ae;
}

h1, h2 {
  color: #4c4e61;
}

header {
  width: 84%;
  margin: auto;
}
header p:first-child {
  text-align: center;
  font-size: 1.7em;
  font-weight: 200;
  color: #4c4e61;
}
header h1 {
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 13px;
}
header p:last-child {
  text-align: center;
  font-weight: 400;
  margin-top: 22px;
  line-height: 26px;
}

section {
  width: 84%;
  margin: 66px auto;
}
section div {
  width: 100%;
}
section article {
  height: 250px;
  background-color: #fff;
  width: 100%;
  padding: 26px;
  margin-top: 24px;
  border-top: 4px solid;
  border-top-left-radius: 10px 4px;
  border-top-right-radius: 10px 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: -1px 12px 25px -11px #a3a5ae;
}
section article h2 {
  font-size: 1.3em;
  font-weight: bold;
}
section article p {
  font-size: 0.9em;
  margin-top: 10px;
  line-height: 26px;
}
section #article1 {
  border-color: #45d3d3;
  background: bottom 30px right 30px url("../images/icon-supervisor.svg") no-repeat;
  background-size: auto;
}
section #article2 {
  border-color: #ea5353;
  background: bottom 30px right 30px url("../images/icon-team-builder.svg") no-repeat;
  background-size: auto;
}
section #article3 {
  border-color: #fcaf4a;
  background: bottom 30px right 30px url("../images/icon-karma.svg") no-repeat;
  background-size: auto;
}
section #article4 {
  border-color: #549ef2;
  background: bottom 30px right 30px url("../images/icon-calculator.svg") no-repeat;
  background-size: auto;
}

footer {
  width: 100%;
}
footer p {
  width: 60%;
  margin: auto;
  text-align: center;
}
footer p a {
  color: #4c4e61;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  header {
    width: 50%;
  }
  header h1 {
    font-size: 2.4em;
  }
  header p:first-child {
    font-size: 2.4em;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  section div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section article {
    width: 90%;
  }
}
@media screen and (min-width: 1350px) {
  section {
    width: 72%;
  }
}

/*# sourceMappingURL=style.css.map */
